@{
    ViewBag.Title = "Admin Giriş";
}

<h2>Admin Giriş</h2>

<form method="post" action="/Account/Login">
    <label>Email:</label>
    <input type="text" name="email" required /><br /><br />

    <label>Şifre:</label>
    <input type="password" name="sifre" required /><br /><br />

    <input type="submit" value="Giriş Yap" />
</form>

@if (ViewBag.Hata != null)
{
    <p style="color:red">@ViewBag.Hata</p>
}
